.texteColor {
    color: #131E28;
}

.blueColor {
    color: #131E28;
}

.greenColor {
    color: #E0F2C4;
}

.darkGreenColor {
    color: #A9BF99;
}

.bgDarkGreenColor {
    background-color: #A9BF99;

}

.bgDarkGreenColor:hover {
    background-color: #E0F2C4;
}

.beigeColor {
    color: #BF9E80;
}



.greyColor {
    color: #D9D3CC;
}

.bgGreyColor {
    background-color: #D9D3CC;
}