.texteColor {
    color: #131E28;
}

.blueColor {
    color: #131E28;
}

.greenColor {
    color: #E0F2C4;
}

.darkGreenColor {
    color: #A9BF99;
}

.beigeColor {
    color: #BF9E80;
}

.greyColor {
    color: #D9D3CC;
}